:root {
    // Body
    --background: white;
    --color: #2c2c2c;
    --blue: #0d99ff;
    --small-text-color: #afafaf;
    --hover: #eeeeee;
      

    // Component colors
    --component-bg: #2c2c2c;
    --comp-color: white;
    --comp-text-color: #afafaf;
    --comp-border: #dadada;
    --comp-hover: #3e3e3e;
    --comp-input: #3e3e3e;


    // Inputs
    --border: #afafaf;
    --input-text-color: white;
    --button-bg: #0d99ff;
}