.accounts-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;

    // =========================================================
    .features {
        background-color: var(--component-bg);
        color: var(--comp-color);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 40px;

        .intro-features {

            .logo {
                padding-bottom: 40px;
                
                a {
                    font-family: "Poppins", sans-serif;
                    color: var(--comp-color);
                    display: inline-flex;
                    
                    .image {
                        width: 64px;
                    }
                    
                    span {
                        margin-left: 20px;
                        font-size: 2.5rem;
                        font-weight: 700;
                    }
                }
            }
        
            ul {
                list-style: none;
                
                li {
                    display: flex;
                    margin-bottom: 20px;

                    svg {
                        margin-top: 5px;
                        min-width: 20px;
                        font-size: 20px;
                        color: var(--button-bg);
                    }

                    .title {
                        margin-left: 10px;
                        max-width: 360px;

                        h3 {
                            padding-bottom: 5px;
                        }

                        p {
                            color: var(--comp-text-color);
                        }
                    }
                }
            }
        }
    }


    // =========================================================
    .accounts-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 20px 40px;


        .intro-accounts-container {
            width: 420px;    
            
            h1 {
                padding-bottom: 20px;
                text-align: center;
                font-size: 1.5rem;
            }

            form {
                .input-group {
                    display: flex;
                    flex-direction: column;
                    padding-bottom: 20px;

                    label {
                        font-weight: bold;
                        padding-bottom: 5px;
                    }

                    .input {
                        position: relative;

                        svg {
                            bottom: 12px;
                            left: 10px;
                            font-size: 20px;
                            position: absolute;
                        }

                        input, button {
                            width: 100%;
                            padding: 10px 20px 10px 40px;
                            border-radius: 5px;
                            color: var(--color);
                            font-family: "Inter", sans-serif;
                            border: 1px solid var(--border);
    
                            &:focus {
                                border: 1px solid var(--blue);
                            }
                        }
                    }

                    p {
                        color: red;
                        margin: 5px;
                    }
                }

                .submit {
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    a {
                        margin-right: 10px;
                    }

                    .input {

                        button {
                            width: auto;
                            position: relative;
                            cursor: pointer;
                            border: 1px solid var(--blue);
                            background-color: var(--button-bg);
                            color: var(--input-text-color);
                            transition: all .3s;
                            font-weight: bold;
    
                            svg {
                                bottom: 10px;
                                left: 10px;
                            }
    
                            &:hover {
                                background-color: transparent;
                                color: var(--blue);
                            }

                            span {
                                color: var(--comp-color);
                            }
                        }
                    }

                    .full {
                        width: 100%;

                        button {
                            width: 100%;
                        }
                    }

                    a {
                        color: var(--blue);

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            .more-link {
                margin-top: 40px;
                display: flex;
                flex-direction: column;

                a {
                    padding: 10px 20px;
                    border: 1px solid var(--blue);
                    background-color: var(--button-bg);
                    color: white;
                    border-radius: 5px;
                    margin-top: 10px;
                    text-align: center;
                    transition: all .3s;

                    &:hover {
                        background-color: transparent;
                        color: var(--blue);
                    }
                }
            }
        }
    }
}



// Profile container
.profile-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;

    .user-personal-name {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        border-bottom: 1px solid var(--comp-border);

        .image {
            overflow: hidden;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-right: 20px;
        }

        .user-name {
            display: flex;
            flex-direction: column;

            #iin {
                display: block;
                padding: 5px 0;
            }

            #role {
                color: var(--blue);
                padding: 5px 0;
            }

            small {
                color: rgb(23, 189, 87);
            }
        }
    }


    // edit-form
    .edit-form, .password-change {
        padding: 20px;
        border-bottom: 1px solid var(--comp-border);

        .input-group {
            padding-bottom: 20px;

            label {
                padding-bottom: 5px;
                font-weight: bold;
                display: block;
            }
            
            input, select {
                display: block;
                width: 100%;
                padding: 10px 20px;
                border-radius: 5px;
                border: 1px solid var(--comp-border);
                font-family: "Inter", sans-serif;

                &:focus {
                    border: 1px solid var(--blue);
                }
            }
        }

        .submit {

            button {
                background-color: var(--button-bg);
                color: var(--comp-color);
                padding: 10px 20px;
                border-radius: 5px;
                cursor: pointer;
                font-weight: bold;
                border: 1px solid var(--blue);

                &:hover {
                    background-color: transparent;
                    color: var(--blue);
                }
            }
        }
    }
}





// ==============================================================
@media screen and (max-width: 940px) {
    .accounts-wrapper {
        grid-template-columns: repeat(1, 1fr);

        .features {
            display: none;
        }

        .accounts-container {
            justify-content: center;
            align-items: flex-start;
            padding: 20px;
        }
    }
    
}


@media screen and (max-width: 480px) {
    .accounts-wrapper {

        .accounts-container {

            .intro-accounts-container {
                width: 100%;

                form {
                    .submit {
                        flex-direction: column;

                        a {
                            margin-bottom: 10px;
                        }

                        .input {
                            width: 100%;

                            button {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}