.main-wrapper {
    display: grid;
    grid-template-columns: 240px 1fr;
    height: 100vh;

    .main {
        width: 100%;
        height: 100%;
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;


        .heading {
            position: sticky;
            top: 48px;
            z-index: 1;
            padding: 10px 20px;
            background-color: var(--background);
            border-bottom: 1px solid var(--comp-border);

        }

        .main-container {
            height: 100%;
            overflow: auto;

            // Home page
            .user-tests-data {
                padding-top: 10px;
                min-width: 1024px;
                height: 100%;
                position: relative;


                .head {
                    display: grid;
                    grid-template-columns: repeat(6, 1fr);
                    border-bottom: 1px solid var(--comp-border);
                    padding: 0 20px;

                    span {
                        display: block;
                        color: var(--small-text-color);
                        padding: 0 10px 10px 10px;
                    }
                }

                .results {
                    display: grid;
                    grid-template-columns: repeat(6, 1fr);
                    padding: 0 20px;

                    span {
                        display: flex;
                        align-items: center;
                        padding: 10px;
                        cursor: pointer;
                        position: relative;


                        .goto-testflow {
                            position: absolute;
                            right: 10px;
                            padding: 5px;
                            color: var(--blue);
                            visibility: hidden;
                            opacity: 0;
                            transition: all .3s;
                        }
                    }

                    #ls {
                        flex-wrap: wrap;

                        .test-subject {
                            margin-right: 5px;
                        }
                    }

                    #status {
                        
                        .finish, .process {
                            display: flex;
                            align-items: center;

                            svg {
                                font-size: 20px;
                                margin-left: 10px;
                            }
                        }

                        .finish {
                            color: #0ac539;
                        }
                        .process {
                            color: var(--blue);
                        }
                    }

                    &:hover {
                        background-color: var(--hover);

                        .goto-testflow {
                            visibility: visible;
                            opacity: 1;
                            transform: translateX(5px);
                        }
                    }
                }



                // no-content
                .no-content {
                    max-width: 360px;
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    align-items: center;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border: 1px solid var(--comp-border);
                    border-radius: 5px;
                    padding: 20px;

                    svg {
                        font-size: 2rem;
                    }

                    span {
                        display: block;
                        text-align: center;
                        padding: 10px 0;
                    }

                    a {
                        display: block;
                        padding: 10px 20px;
                        border-radius: 5px;
                        border: 1px solid var(--blue);
                        background-color: var(--button-bg);
                        color: var(--comp-color);

                        &:hover {
                            background-color: transparent;
                            color: var(--blue);
                        }
                    }
                }
            }

            // Test categories page
            // .test-categories {
            //     display: grid;
            //     grid-template-columns: repeat(2, 1fr);
            //     padding: 20px;

            //     .test-category {
            //         border: 1px solid var(--comp-border);
            //         margin-right: 10px;
            //         margin-bottom: 10px;
            //         border-radius: 5px;

            //         .head {
            //             border-bottom: 1px solid var(--comp-border);
            //             display: flex;
            //             justify-content: space-between;
            //             padding: 10px 20px;

            //             a {
            //                 padding: 5px 20px;
            //                 border-radius: 5px;
            //                 background-color: var(--button-bg);
            //                 color: var(--comp-color);
            //                 border: 1px solid var(--blue);


            //                 &:hover {
            //                     border: 1px solid var(--blue);
            //                     background-color: transparent;
            //                     color: var(--blue);
            //                 }
            //             }
            //         }

            //         .description {
            //             padding: 10px 20px;
            //             font-size: 14px;

            //             ul {
            //                 margin-left: 20px;

            //                 li {
            //                     list-style: disc;
            //                 }
            //             }

            //         }

            //         &:hover {
            //             background-color: var(--hover);
            //         }
            //     }
            // }

            // Test category detail page
            .test-category-detail {
                border-bottom: 1px solid var(--comp-border);
                padding: 20px;
                border-radius: 5px;

                .head {
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid var(--comp-border);
                    padding-bottom: 10px;

                    svg {
                        font-size: 2rem;
                    }

                    h1 {
                        padding-left: 10px;
                    }
                }

                .description {
                    padding: 10px 20px;

                    ul {
                        margin-left: 20px;

                        li {
                            list-style: disc;
                        }
                    }

                }

                form {
                    padding-top: 10px;
                    border-top: 1px solid var(--comp-border);

                    .input-group {
                        padding-bottom: 10px;
                        
                        select {
                            width: 100%;
                            padding: 10px 20px;
                            font-family: "Inter", sans-serif;
                            border-radius: 5px;
                            border: 1px solid var(--comp-border);

                            &:focus {
                                border: 1px solid var(--blue);
                            }
                        }
                    }

                    .submit {
                        button {
                            padding: 10px 20px;
                            color: var(--comp-color);
                            background-color: var(--button-bg);
                            border: 1px solid var(--blue);
                            border-radius: 5px;
                            display: block;
                            width: 100%;
                            cursor: pointer;
                            font-family: "Inter", sans-serif;
                            transition: all .3s;

                            &:hover {
                                background-color: transparent;
                                color: var(--blue);
                            }
                        }
                    }
                }
            }
        }
        
    }
}