.testflow-wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .testflow {
        flex: 1;
        display: grid;
        grid-template-columns: 260px 1fr;

        .tesflow-data {
            width: 100%;
            height: calc(100vh - 48px);
            overflow: auto;


            // testflow page
            .testflow-container {
                min-width: 1024px;

                .test-time {
                    padding: 20px;
                    border-bottom: 1px solid var(--comp-border);

                    .group {
                        display: flex;
                        align-items: center;
                        padding-bottom: 5px;
                        
                        .label {
                            margin-right: 5px;
                        }

                        .value {
                            margin-left: 5px;
                            display: flex;
                            align-items: center;

                            svg {
                                font-size: 1rem;
                                margin-left: 5px;
                            }
                        }

                        .finish {
                            color: #0ac539;
                        }
                        .proccess {
                            color: var(--blue);
                        }
                    }
                }
                
                .test-features {

                    .head {
                        display: grid;
                        grid-template-columns: repeat(4, 1fr);
                        border-bottom: 1px solid var(--comp-border);
                        padding: 0 20px;

                        span {
                            display: block;
                            color: var(--small-text-color);
                            margin: 10px;
                            -webkit-line-clamp: 1; 
                            -webkit-box-orient: vertical;
                            display: -webkit-box;
                            overflow: hidden;
                        }
                    }

                    .result {
                        display: grid;
                        padding: 0 20px;
                        grid-template-columns: repeat(4, 1fr);

                        span {
                            display: flex;
                            align-items: center;
                            padding: 10px;
                            cursor: pointer;
                            position: relative;
                        }

                        &:hover {
                            background-color: var(--hover);
    
                            .goto-testflow {
                                visibility: visible;
                                opacity: 1;
                                transform: translateX(5px);
                            }
                        }
                    }
                }

                .bottom {

                    .start-test {
                        display: inline-block;
                        margin: 20px;
                        padding: 10px 40px;
                        background-color: var(--button-bg);
                        border: 1px solid var(--blue);
                        color: var(--comp-color);
                        border-radius: 5px;
                        
                        &:hover {
                            background-color: transparent;
                            color: var(--blue);
                            border: 1px solid var(--blue);
                        }
                    }
                }
            }


            // question testflow page
            .question-testflow {
                display: flex;
                min-width: 1024px;

                .question-box {
                    min-width: 100%;

                    
                    .question-title {
                        padding: 20px;
                        border-bottom: 1px solid var(--comp-border);

                        .context {
                            margin-bottom: 20px;
                        }

                        .q-head {
                            display: flex;
                            font-weight: bold;

                            #number {
                                margin-right: 10px;
                            }
                        }
                    }

                    .answers {
                        padding-bottom: 20px;

                        .answer {
                            padding: 10px 20px;
                            display: flex;
                            align-items: flex-start;
                            cursor: pointer;

                            .radio {
                                margin-right: 10px;
                                display:inline-block;
                                padding: 2px;
                                border-radius: 100%;
                                border: 2px solid var(--color);
                                cursor:pointer;

                                span {
                                    display: block;
                                    width: 0.6rem;
                                    height: 0.6rem;
                                    border-radius: 100%;
                                    background-color: transparent;
                                }
                            }

                            .checkbox {
                                margin-right: 10px;
                                padding: 2px;
                                border-radius: 3px;
                                border: 2px solid var(--color);
                                cursor:pointer;

                                span {
                                    display: block;
                                    width: 0.6rem;
                                    height: 0.6rem;
                                    border-radius: 2px;
                                    background-color: transparent;
                                }
                            }

                            .selected {
                                border-color: var(--blue);

                                span {
                                    background-color: var(--blue);
                                }
                            }

                            &:hover {
                                background-color: var(--hover);
                            }
                        }

                        .selected {
                            background-color: var(--hover);
                        }

                        .correct {
                            background-color: #06d6a0;

                            &:hover {
                                background-color: #06d6a0;
                            }
                        }

                        #user-answer {
                            background-color: red;

                            &:hover {
                                background-color: red;
                            }
                        }
                    }

                    .btns {
                        padding: 10px 20px 20px 20px;
                        display: flex;
                        justify-content: space-between;

                        button {
                            cursor: pointer;
                            padding: 5px 20px;
                            border-radius: 5px;
                            background-color: var(--button-bg);
                            border: 1px solid var(--blue);
                            color: var(--comp-color);

                            &:hover {
                                background-color: transparent;
                                color: var(--blue);
                            }
                        }

                    }
                }

                .show {
                    display: block;
                }
            }
        }
    }
}